@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=New+Amsterdam&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;

}

.container {
    width: 90vw;
    height: 90vh;

}

.header {
    display: block;
    text-align: center;
    margin-bottom: 2rem;

}


.image-container{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container img{
    width: 15rem;
    height: 15rem;
    margin: 1rem;
    border-radius: 1.5rem;
    transition: 0.5s;
}

.image-container img:hover {
    transform: scale(1.1) rotate(3deg);
}

.view-img {
    position: fixed;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
}

.view-img img{
    height: 40rem;
    width: 40rem;
    border-radius: 1.5rem;
}

.view-img span {
    color: white;
    font-size: 3rem;
    position: absolute;
    top: 2rem;
    right: 8rem;
    cursor: pointer;
}

.header h1 {
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
    font-family: "Jersey 10" , sans-serif;
    margin-bottom: 0.5rem;
}

#search-input {
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
    font-size: 18px;
    border-radius: 5px;
    color: #333;
}

#search-btn {
    width: 10%;
    max-width: 100px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 6px rgb(2, 0, 0, 0.5);
    font-family: "New Amsterdam";
    font-size: 18px;
    font-weight: 400;
    background-color: #138065;
    color: #fff;
    border-radius: 4px;
    margin-left: 3px;
}

form {
    margin-bottom: 2rem;
}